<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>ATS</title>
  <link rel="stylesheet" href="../resources/css/setting.css">
  <link rel="stylesheet" href="../resources/css/plugin.css">
  <link rel="stylesheet" href="../resources/css/template.css">
  <link rel="stylesheet" href="../resources/css/common.css">
  <link rel="stylesheet" href="../resources/css/style.css">
</head>

<body>
  <!-- [S]personal-gTLVWIfGen -->
  <div class="personal-gTLVWIfGen" id="" data-bid="JllVWIgEBz">
    <div class="header-inner">
      <div class="header-container container-lg">
        <h1 class="header-title">
          <a href="#" th:href="@{/}">
            <img src="../medias/icons/iconsax-bold/frame-2.svg" alt="">
          </a>
        </h1>
        <div class="header-center">
          <div class="header-title header-mobile-top">
            <a href="javascript:void(0)">
              <img src="../resources/images/img_logo_black.png" alt="로고">
            </a>
          </div>
          <ul class="header-gnblist">
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>문제풀기</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>게시판</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>랭킹</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>ChatGPT</span>
              </a>
            </li>
            <li class="header-gnbitem">
            </li>
          </ul>
        </div>
        <div class="header-right">
          <div class="header-lang">
            <ul class="header-langlist">
              <li class="header-langitem">
                <a href="javascript:void(0)">KOR</a>
              </li>
              <li class="header-langitem">
                <a href="javascript:void(0)">ENG</a>
              </li>
            </ul>
          </div>
        </div>
        <a href="#" th:href="@{/login}"><img class="icon-lg" src="../resources/icons/ico_user_black.svg" alt="로그인아이콘"></a>
      </div>
    </div>
    <div class="header-dim"></div>
  </div>
  <!-- [E]personal-gTLVWIfGen -->
  <!-- [S]basic-N29 -->
  <div class="basic-N29" data-bid="rvlvt5o2AP" id="">
  </div>
  <!-- [E]basic-N29 -->
  <!-- [S]basic-N29 -->
  <div class="basic-N29" data-bid="MsLvT5zwaa">
    <div class="contents-inner">
      <div class="contents-container container-md">
        <div class="textset">
          <h2 class="textset-tit">ABOUT</h2>
          <h3 class="textset-subtit">코딩의 즐거움을 느껴보세요! 인공지능과 함께하는 코딩 문제 풀이 서비스</h3>
          <p class="textset-desc"><span style="color: rgb(141, 141, 141); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; letter-spacing: normal; white-space-collapse: preserve;">"우리 서비스는 코딩을 통해 논리적 사고와 문제 해결 능력을 키우는 데에 초점을 맞추고 있습니다. 사용자들은 다양한 난이도와 주제의 코딩 문제를 만나게 되며, 이를 해결함으로써 프로그래밍에 대한 이해도를 높일 뿐만 아니라, 알고리즘과 자료 구조를 익히며 실력을 향상시킬 수 있습니다. 우리의 인공지능 동반 플랫폼은 사용자들의 학습 경험을 최적화하고, 공부하는 동안 지루함을 덜어줍니다. 뿐만 아니라, 사용자의 발전 상황을 추적하여 맞춤형 학습 경로를 제시합니다. 지금 바로 시작하여 프로그래밍의 세계로 모험을 떠나보세요!"</span></p>
          <br>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <!-- [E]basic-N29 -->
  <!-- [S]basic-N17 -->
  <div class="basic-N17" data-bid="pclvwJb3E2" id="">
    <div class="contents-inner">
      <div class="contents-container container-md">
        <br>
        <div class="textset">
          <h2 class="textset-tit">코딩의 세계로 초대합니다!</h2>
          <div class="textset-body">
            <p class="textset-desc"> 환영합니다! 코딩의 세계로 여러분을 초대합니다. 우리 서비스는 코딩 문제를 해결하는 데 인공지능이 함께하는 코딩 플랫폼입니다. 다양한 난이도와 주제의 문제를 풀며 프로그래밍 실력을 향상시키세요. 지금 시작해보세요!" </p>
          </div>
        </div>
        <div class="imageset">
          <img class="imageset-img" src="https://cdn.pixabay.com/photo/2017/03/23/09/34/artificial-intelligence-2167835_1280.jpg" alt="이미지">
        </div>
      </div>
    </div>
  </div>
  <!-- [E]basic-N17 -->
  <!-- [S]personal-jWlVwIaWnO -->
  <div class="personal-jWlVwIaWnO" id="" data-bid="KxlvWiiTa8">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="header-title">
          <a href="javascript:void(0)">
            <img src="../medias/icons/iconsax-bold/frame-2.svg" alt="">
          </a>
        </h1>
        <h1 class="footer-logo">
          <a href="javascript:void(0)">
          </a>
        </h1>
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>이용약관</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>문제풀기</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>랭킹</span>
            </a>
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <div class="footer-txt">
          <p> 경기도 부천시 원미구 신흥로56번길 25 부천대학교 </p>
          <p>
            <span>T. 032-610-0114</span>
            <span>E. alsdn4590@gmail.com</span>
          </p>
        </div>
        <div class="footer-txt">
        </div>
      </div>
    </div>
  </div>
  <!-- [E]personal-jWlVwIaWnO -->
  <!-- [S]basic-N17 -->
  <div class="basic-N17" data-bid="mZLVT6hoF4" id="">
  </div>
  <!-- [E]basic-N17 -->
  <script src="../resources/js/setting.js"></script>
  <script src="../resources/js/plugin.js"></script>
  <script src="../resources/js/template.js"></script>
  <script src="../resources/js/common.js"></script>
  <script src="../resources/js/script.js"></script>
</body>